.container {
  margin: 0 auto;
  padding: 0;
  max-width: 100vw;
  min-height: calc(100vh - 120px);
  background-size: cover;
  background-position: center;
  position: relative;
}

.title {
  margin: 0 auto;
  padding: 0;
  min-height: calc(100vh - 120px);
  max-width: 100vw;
  font-size: 500px;
  font-family: doomLeft;
  font-weight: normal;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: rgb(27 28 30);
  color: #fff;
  opacity: 0;
  animation: show 3s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.iconScroll,
.iconScroll:before {
  position: absolute;
  left: 50%;
  bottom: 5%;
}

.iconScroll {
  width: 20px;
  height: 35px;
  box-shadow: inset 0 0 0 1px #9a9a9a;
  border-radius: 25px;
}

.iconScroll:before {
  content: "";
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: -2px;
  top: 4px;
  border-radius: 2px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(23px);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}

.titleRight {
  font-family: doomRight;
  font-weight: normal;
  letter-spacing: 5px;
}
