@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

@font-face {
  font-family: "doomLeft";
  src: local("doomLeft"), url(./fonts/DoomLeft.ttf) format("truetype");
}

@font-face {
  font-family: "doomRight";
  src: local("doomRight"), url(./fonts/DoomRight.ttf) format("truetype");
}

@font-face {
  font-family: "doomLeft2";
  src: local("doomLeft2"), url(./fonts/DoomLeft2.ttf) format("truetype");
}

@font-face {
  font-family: "doomRight2";
  src: local("doomRight2"), url(./fonts/DoomRight2.ttf) format("truetype");
}

@font-face {
  font-family: "doomLeftSpace";
  src: local("doomLeftSpace"), url(./fonts/DoomLeftSpace.ttf) format("truetype");
}

@font-face {
  font-family: "doomRightSpace";
  src: local("doomRightSpace"),
    url(./fonts/DoomRightSpace.ttf) format("truetype");
}

body {
  margin: 0;
  background-color: rgb(27 28 30);
  color: #bdc1c6;
  font-family: "JetBrains Mono", -apple-system, "doomLeft", "doomLeft",
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
